body {
  background-color: beige;
}

p {
  font-size: 24px;
}

#letters,
#wordsButton,
#showAllDiv {
  display: inline-block;
  vertical-align: middle;
}

#letters,
#wordsButton {
  padding: 5px;
}

#letters {
  width: 200px;
}

#showAllDiv {
  display: none;
  margin-left: 20px;
}

#showAllCheckbox,
label {
  display: inline-block;
  vertical-align: middle;
}

#showAllCheckbox {
  transform: scale(1.5);
  margin-right: 5px;
}

label {
  font-size: 24px;
  user-select: none;
}

#box {
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 30px;
}

.word {
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  margin-right: 20px;
}

.word:last-child {
  margin-right: 0;
}

.valid {
  color: blue;
  font-weight: bold;
}