body {
    background-color: beige;
}

p {
    font-size: 24px;
}

input[type="text"],
button {
    padding: 5px;
}

input[type="text"] {
    width: 150px;
}

input[type="checkbox"] {
    transform: scale(1.5);
}

label {
    font-size: 24px;
    user-select: none;
}

#letters,
#findWords,
#showAllDiv {
    display: inline-block;
    vertical-align: middle;
}

#showAllDiv {
    margin-left: 20px;
}

#showAllDiv.hidden {
    display: none;
}

#words {
    margin-bottom: 30px;
}

.word {
    display: inline-block;
    font-size: 24px;
    font-family: "Courier New", Courier, monospace;
    margin-right: 20px;
}

.word:last-child {
    margin-right: 0px;
}

.word.valid {
    color: blue;
    font-weight: bold;
}
